@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    backface-visibility: hidden;
}
.min100vh {
    height: 100vh;
    min-height: 560px
}

.container,.container-fluid,.container-md {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.about {
    background-color: #14121c;
    height: auto;
    overflow: hidden;
    position: relative
}

.justify-content-center {
    justify-content: center!important
}

.w-100 {
    width: 100%!important
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}


.pt-0,.py-0 {
    padding-top: 0!important
}


.timeline {
    background-color: #5918df;
    height: 300%;
    left: -10px;
    position: absolute;
    top: 13px;
    width: 1px;
    z-index: 9
}

.timeline.alt {
    height: 5310%;
    top: 0
}


.section-title.alt {
    display: inline-block;
    margin-top: 30px
}

.section-title {
    color: #988e9f;
    font-size: 18px;
    font-weight: 300
}



.mt-3 {
    margin-top: 1rem!important
}

.about .code-wrp {
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 16px;
    line-height: 1.6
}

.about .code-l {
    position: relative;
    z-index: 1
}

.about .code-l:after {
    color: #3b3553;
    content: attr(data-line-nr);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 16px;
    left: -60px;
    line-height: 1.6;
    position: absolute;
    top: 0;
    z-index: 3
}

.about .code-l:hover {
    position: relative
}

.about .code-l:hover:before {
    background-color: #231d28;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 300%;
    z-index: -2
}


.about .methods {
    color: #5918df;
    display: inline;
    margin-right:10px;
}

.about .propname {
    color: #eeff31
}

.about .dot {
    color: #3b3553;
    display: inline
}

.about .comment {
    color: #78707e;
    display: inline
}


.about .scope {
    color: #e3244c;
    display: inline
}

.about .prop2 {
    color: #24e394
}

.about .string {
    color: #24e33a
}

.about .number {
    color: #e39d24
}

.about .cursor:before {
    animation: blink .8s infinite;
    content: "|";
    opacity: 0
}


.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.offset-1 {
    margin-left: 8.333333%
}



.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}


@media (min-width: 768px) {
    .col-md {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-md-1>* {
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-md-2>* {
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-md-3>* {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-md-4>* {
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-md-5>* {
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-md-6>* {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-auto {
        flex: 0 0 auto;
        max-width: 100%;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-md-1 {
        order: 1
    }

    .order-md-4 {
        order: 4
    }

    .order-md-6 {
        order: 6
    }

    .offset-md-0 {
        margin-left: 0
    }

    .offset-md-1 {
        margin-left: 8.333333%
    }

    .offset-md-2 {
        margin-left: 16.666667%
    }

    .offset-md-3 {
        margin-left: 25%
    }

    .offset-md-4 {
        margin-left: 33.333333%
    }

    .offset-md-5 {
        margin-left: 41.666667%
    }

    .offset-md-6 {
        margin-left: 50%
    }

    .offset-md-7 {
        margin-left: 58.333333%
    }

    .offset-md-8 {
        margin-left: 66.666667%
    }

    .offset-md-9 {
        margin-left: 75%
    }

    .offset-md-10 {
        margin-left: 83.333333%
    }

    .offset-md-11 {
        margin-left: 91.666667%
    }
}


@media (min-width: 576px) {
    .col-sm {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-sm-1>* {
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-sm-2>* {
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-sm-3>* {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-sm-4>* {
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-sm-5>* {
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-sm-6>* {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-auto {
        flex: 0 0 auto;
        max-width: 100%;
        width: auto
    }

    .col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-5 {
        order: 5
    }

    .offset-sm-0 {
        margin-left: 0
    }

    .offset-sm-1 {
        margin-left: 8.333333%
    }

    .offset-sm-2 {
        margin-left: 16.666667%
    }

    .offset-sm-3 {
        margin-left: 25%
    }

    .offset-sm-4 {
        margin-left: 33.333333%
    }

    .offset-sm-5 {
        margin-left: 41.666667%
    }

    .offset-sm-6 {
        margin-left: 50%
    }

    .offset-sm-7 {
        margin-left: 58.333333%
    }

    .offset-sm-8 {
        margin-left: 66.666667%
    }

    .offset-sm-9 {
        margin-left: 75%
    }

    .offset-sm-10 {
        margin-left: 83.333333%
    }

    .offset-sm-11 {
        margin-left: 91.666667%
    }
}

